node_modules/
logs/*
!logs/.gitkeep
scripts-repeat/*
!scripts-repeat/.gitkeep
scripts-once/*
!scripts-once/.gitkeep
!scripts-once/finished/
scripts-once/finished/*
!scripts-once/finished/.gitkeep
devices.json
package-lock.json